<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="CustomForm\FormData\Model\ResourceModel\Data" type="CustomForm\FormData\Model\ResourceModel\DataDeferred" />
    <preference for="CustomForm\FormData\Model\ResourceModel\Data\CollectionFactory" type="Magento\Framework\Model\ResourceModel\Db\Collection\Factory"/>
</config>
